{% extends 'nav_all.html' %}
{% block page_name %}Contact{% endblock %}

{% block body_part %}
<div class="container">
    <!--主体部分-->
    <div style="height: 30px;"></div>
    <div class="col-xs-12 co-sm-12 col-md-12 col-lg-12">
        <fieldset class="bootstrap-elem-field bootstrap-field-title">
            <legend><i>Contact us</i></legend>
            </fieldset>

        <div class="layui-text"  style="text-align:justify;margin:10px 0; font-size: 18px; " >
          <p><b>Dr. Junfeng Xia</b></p>
            <p>Professor of Bioinformatics</p>
            <p>Key Laboratory of Intelligent Computing and Signal Processing of Ministry of Education, Institutes of Physical Science and Information Technology, Anhui University</p>
            <p>111 Jiulong Avenue,Hefei 230601,China</p>
            <p>Email: jfxia@ahu.edu.cn</p>
            <p>Website:<a href="http://bioinfo.ahu.edu.cn/JunfengXia/"><font color="green">http://bioinfo.ahu.edu.cn/JunfengXia/</font></a></p>
        </div>
    </div>
</div>
{% endblock %}